/* CRT Screen Effect */
#crt {
    background-image: url('pixel.apng'), linear-gradient(rgba(255, 255, 255, 0.05) 50%, transparent 50%);
    background-size: 2px 1px, 100% 2px;
    background-color: #fff;
    background-blend-mode: hard-light;
    mix-blend-mode: multiply;
    pointer-events: none;
    opacity: .4;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    animation: crt-flicker 0.1s infinite alternate;
}

/* Adjust opacity for Firefox */
@-moz-document url-prefix() {
    #crt {
        opacity: .1;
    }
}

/* CRT Flicker Animation */
@keyframes crt-flicker {
    0% {
        opacity: 0.35;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.45;
    }
}

/* Static Noise Effect */
@keyframes static-noise {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

#crt {
    background-image: url('pixel.apng'), linear-gradient(rgba(255, 255, 255, 0.05) 50%, transparent 50%), url('static-noise.png');
    background-size: 2px 1px, 100% 2px, cover;
    animation: crt-flicker 0.1s infinite alternate, static-noise 0.2s steps(5) infinite;
}
