/* Global styles */
body {
    background-image: url('https://pub-2284c75c95fc4a7982093319d9faf433.r2.dev/719054-widescreen-byakuya-wallpaper-2560x1600-for-phones.jpg');
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Bio container */
.bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Bio card */
.bio-card {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); /* Blurs the background */
}

/* Profile picture */
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px; /* Center and add margin below */
    display: block;
}

/* Username */
.username {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

/* Spotify iframe */
.spotify-widget {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 10px; /* Spacing from other content */
}

/* Bio text */
.bio-text {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 10px; /* Adjust spacing */
}
