body {
    background-image: url('/docs/kurxxbackground.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bio-card {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 600px;
    width: 80%;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.bio-text {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
}

#bio-content {
    animation: typing 5s steps(40) forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

audio {
    margin-top: 20px;
    width: 100%;
}
