body {
    background-image: url('/docs/kurxxbackground.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bio-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 600px;
    width: 80%;
    backdrop-filter: blur(10px); /* Apply blur effect */
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    filter: grayscale(100%) brightness(70%);
}

.bio-text {
    color: white;
    font-size: 1.5rem;
    line-height: 1.6;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 5s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

/* Hide video element */
#background-video {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
}

audio {
    margin-top: 20px;
    width: 100%;
}
